.Background {
    background: linear-gradient(45deg, #FF9671, #6e4ea0, #FF6F91);
    background-size: 400% 400%;
    position: relative;
    animation: moveBackground 50s ease-in-out;
}
  
.linear-gradient {
    width: 100%;
    height: 100vh;
}
  
.login-block{
    background-color: #EAEAEA;
    position: relative;
    left: 53%;
    width: 45%;
    height: 80%;
    top: 50px;
    border-radius: 15px;
}

h1{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    letter-spacing: 5px;
    position: absolute;
    left: 5%;
    top: 10%;
}

h2{
    position: relative;
    top: 7%;
    left: 5%;
    font-size: 40px;
    color: #3E3E3E;
}

h3 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    position: absolute;
    left: 20%;
    top: 30%;
}

.icon_pos {
    position: relative
}

.input-rounded {
    border-radius: 5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%
}

.errorText {
    color: red;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
